@font-face {
  font-family: "GPro-Medium";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/BasisGrotesquePro-Medium.woff2") format("woff2"), url("/fonts/BasisGrotesquePro-Medium.woff") format("woff");
}

@font-face {
  font-family: "GPro-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/BasisGrotesquePro-Regular.woff2") format("woff2"), url("/fonts/BasisGrotesquePro-Regular.woff") format("woff");
}

@font-face {
  font-family: "GPro-Light";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/BasisGrotesquePro-Light.woff2") format("woff2"), url("/fonts/BasisGrotesquePro-Light.woff") format("woff");
}

@font-face {
  font-family: "GPro-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/BasisGrotesquePro-Bold.woff2") format("woff2"), url("/fonts/BasisGrotesquePro-Bold.woff") format("woff");
}